<script type="text/template" id="tour.view.modal.new.tpl">
    <form class="row" id="tour-view">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3><%- name %> | <span class="text-<%-status.color%> st_s"><%- status.name %></span></h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <label>Эра</label>
                        <div class="era"><div class="loader"></div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Вид животного</label>
                        <div id="kind" class="kind"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Опасность</label>
                        <div class="<%-danger.color%>"><%- danger.name %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>ДАТА ПРЫЖКА</label>
                        <div><%- event_date %></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <label>Клиент </label>
                        <div><%- client.last_name %> <%- client.first_name %> <%- client.patronimic %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Физическая подготовка</label>
                        <%
                        if(client.physical_training == undefined) client.physical_training = 0;
                        var training = [
                            {
                                color: 'success',
                                value: 'Низкая'
                            }, {
                                color: 'info',
                                value: 'Средняя'
                            }, {
                                color: 'warning',
                                value: 'Высокая'
                            }, {
                                color: 'danger',
                                value: 'Очень высокая'
                            }]; %>
                        <div class="text-<%- training[client.physical_training].color %>"><%- training[client.physical_training].value %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <%
                        if(client.level_kind == undefined) client.level_kind = 0;
                        var training = [
                            {
                                color: 'success',
                                value: 'Низкий'
                            }, {
                                color: 'info',
                                value: 'Средний'
                            }, {
                                color: 'warning',
                                value: 'Высокий'
                            }, {
                                color: 'danger',
                                value: 'Очень высокий'
                            }]; %>
                        <label>Желаемый уровень животного</label>
                        <div class="text-<%- training[client.level_kind].color %>"><%- training[client.level_kind].value %></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Стоимость заявки</label>
                        <div><%- price %> <b>$</b></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#tour/pass/<%-id%>" class="btn btn-block btn-danger">ОТКЛОНИТЬ</a>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-block btn-info" type="button" id="apply">ПРИНЯТЬ</button>
            </div>
        </div>
    </form>
</script>