<script type="text/template" id="tour.view.modal.pass.tpl">
    <form class="row" id="tour-view">
        <div class="row">
            <div class="col-md-9 col-xs-9">
                <h3><%- name %></h3>
            </div>
            <div class="col-md-2 col-xs-2 text-right">
                <button type="button" class="btn btn-default cancel-icon"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>КЛИЕНТ:</label>
                                <div><%-client['last_name']%> <%-client['first_name']%> <%-client['patronimic']%></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>ВЫБРАННОЕ ЖИВОТНОЕ:</label>
                                <div class="kind"></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Опасность:</label>
                                <div class="text-<%-danger['color']%>"><%-danger['name']%></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <a class="btn btn-sm btn-default btn-block tour-back">НАЗАД</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>ПРИЧИНА ОТКАЗА</label>
                        <textarea class="form-control form-group" rows="6"></textarea>
                        <button type="button" class="btn btn-sm btn-info btn-block send-pass">ОТПРАВИТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>