<script type="text/template" id="chat.tpl">
    <div class="panel panel-default chat" id="chat_<%- id %>">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8 col-xs-6">
                    <% if(!last_name && !first_name) last_name = "Не известно"; %>
                    <h4 class="panel-title"><%- last_name %> <%- first_name %></h4>
                </div>
                <div class="col-md-4 col-xs-6">
                    <span class="pull-right glyphicon glyphicon-remove chat-close"></span>
                    <span class="pull-right glyphicon glyphicon-chevron-down chat-turn"></span>
                    <span class="pull-right glyphicon glyphicon-chevron-up chat-turn hidden"></span>
                </div>
            </div>
        </div>
        <div class="panel-body"></div>
        <div class="panel-footer">
            <div class="input-group">
                <input class="send" data-to="<%- id %>" placeholder="Введите ваше сообщение...">
                <div class="input-group-btn">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span></button>
                    <button class="btn btn-default hidden" disabled><div class="loader"></div></button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="message.from.tpl">
    <div class="message message-from">
        <div class="message-content"><%= content %></div>
    </div>
</script>

<script type="text/template" id="message.to.tpl">
    <div class="message message-to">
        <div class="message-content"><%= content %></div>
    </div>
</script>