<script type="text/template" id="auth.tpl">
    <div class="alert alert-danger error-row hidden" id="auth-error">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="text-error"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="row form-group">
                    <h2 class="col-md-12 text-center">Присоединяйтесь сейчас!</h2>
                </div><br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="email" required class="form-control" name="email" placeholder="E-mail"/>
                        <small class="help-block with-errors"></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="password" required class="form-control" name="password" placeholder="Введите пароль"/>
                        <small class="help-block with-errors"></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="allowed" class="allowed">
                            <input id="allowed" type="checkbox">
                            Я согласен на обработку персональных данных
                        </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info btn-block" id="registration" disabled>Регистрация</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="login">
                <div class="row form-group">
                    <h2 class="col-md-12 text-center">Войти</h2>
                </div><br>
                <div class="row">
                    <div class="col-md-12 text-danger server-errors"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="email" required class="form-control" name="email" placeholder="E-mail" value="Khodnenko.ivan@gmail.com"/>
                        <small class="help-block with-errors"></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input class="form-control" required type="password" name="password" placeholder="Пароль" value="123456"/>
                        <small class="help-block with-errors"></small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info btn-block" id="login">Войти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>