<script type="text/template" id="home.tpl">
    <!-- Header -->
    <div class="container-fluid">
        <div class="row text-center promo-pic promo-main">
            <h2 class="promo-font">Испытайте совершенно новые ощущения</h2>
        </div>
    </div>

    <!-- News block -->
    <div class="container-fluid">
        <!-- Info part -->
        <div class="row promo-infoblock">

            <div class="col-md-6">
                <div class="panel promo-infoblock-textbox panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Кто мы?</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p> Мы перевернем Ваше представление о приключениях. Сколько раз, просматривая документальные фильмы или художественную фантастику, Вы представляли себя рядом с диковинными существами, когда-то жившими на нашей планете? Мы предоставляем уникальную возможность - вступить в схватку с доисторическими титанами и победить. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel promo-infoblock-textbox panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>О нас в прессе</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="promo-infoblock-news">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Предложение, от которого Вы не сможете отказаться (Time, 01/2052)</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p> Невероятно, но факт: TimeSafari Inc. предлагает обывателю то, что раньше считалось научной фантастикой ... </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="otz">Отзывы наших клиентов</h3>
                    <div class="row">
                        <div class="col-md-12" id="review-slider">
                            <div class="panel promo-infoblock-news panel-body"></div>
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </div>

    <!-- Review block -->
    <div class="container-fluid">
        <!-- Head image -->
        <div class="row text-center promo-pic promo-second">
            <h2 class="promo-font">Бросьте себе вызов!</h2>
        </div>

        <!-- Info part -->
        <div class="row promo-infoblock">

            <div class="col-md-4 text-center promo-infoblock-img">
                <img class="img-responsive img-rounded " src="../static/img/review.jpg" height=330px >
            </div>

            <div class="col-md-8">
                <div class="panel promo-infoblock-textbox panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Тысячи восхищенных клиентов</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p> Наше предложение не имеет аналогов и конкурентов. Мы дарим ни с чем не сравнимые эмоции. Только у нас Вы сможете почувствовать себя первобытным охотником, вышедшим на бой с неравным противником и победить. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Creator block -->
    <div class="container-fluid">
        <!-- Head image -->
        <div class="row promo-pic promo-third text-center">
            <h2 class="promo-font">Подберите развлечение на свой вкус</h2>
        </div>

        <!-- Info part -->
        <div class="row promo-infoblock">

            <div class="col-md-6">
                <div class="panel promo-infoblock-textbox panel-body text-right">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Свобода выбора</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p> Выберите любое животное из прошлого с помощью нашего интуитивно понятного конструктора туров. Мирный трицерапторс или шустрый велоцираптор? Величественный диплодок или же смертоносный тираннозавр? Решать только Вам. А наш конструктор Вам в этом поможет </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <img src="../static/img/constr.png">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid promo-pic promo-last-pic promo-last">
        <div class="row text-center">
            <h2 class="promo-font">Мир приключений ждет Вас!</h2>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#auth" class="btn btn-info promo-last-btn">Вступайте сейчас!</a>
            </div>
        </div>
    </div>

    <!-- Copyrights & etc. -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center footer">
                <small>Прежде чем приобретать путевку, ознакомьтесь с общими положениями и условиями, попрощайтесь с близкими и друзьями, покормите кошку, займите кучу денег у мафиозного босса и спустите их в один вечер. Компания не гарантирует 100% выживаемость и в частности сообщает о смертности на уровне 95% из посетителей. Однако это все равно никто не читает :С</small>
            </div>
        </div>
    </div>
</script>