<script type="text/template" id="review.slider.tpl">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox"></div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</script>

<script type="text/template" id="review.slider.item.tpl">
    <div class="item <%- active ? 'active' : '' %>">
        <div class="carousel-caption">
            <div class="row">
                <div class="col-md-2">
                    <img src="<%- client.picture %>">
                </div>
                <div class="col-md-10">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="pull-left"><%- client.last_name %> <%- client.first_name %></div>
                            <div class="pull-right"><%- created.split('T')[0] %></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 text-left"><%- message %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>