<script type="text/template" id="template.table.consultant.tpl">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel profile-block">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="col-md-11 col-xs-11">
                        <h5>Магазин туров</h5>
                    </div>
                    <a class="col-md-1 col-xs-1 btn btn-xs btn-info pull-right" href="#template/create">Создать</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th data-name="name">Название</th>
                        <th data-name="era.id">Эра</th>
                        <th data-name="kind.id">Животное</th>
                        <th data-name="danger">Опасность</th>
                        <th data-name="price">Цена</th>
                        <th data-name="id" class="column-action">Действия</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template.table.consultant.tr.tpl">
        <tr>
            <td><%= name %></td>
            <td class="multiple" data-kind="era" data-id="<%= era %>"><div class="loader"></div></td>
            <td class="multiple" data-kind="kinds" data-id="<%= kind %>"><div class="loader"></div></td>
            <td><%= danger %></td>
            <td><%= price %><b>$</b></td>
            <td><a href="#template/<%- id %>"><span class="btn btn-block btn-sm">Просмотр</span></a></td>
        </tr>
</script>