<script type="text/template" id="tour.table.client.tpl">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel profile-block">
            <div class="panel-heading">
                <div class="panel-title">История туров</div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th data-name="name">Название</th>
                        <th data-name="era.name">Эра</th>
                        <th data-name="kind.name">Животное</th>
                        <th data-name="danger">Опасность</th>
                        <th data-name="price">Цена</th>
                        <th data-name="id" class="column-action">Действия</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tour.table.client.tr.tpl">
        <tr>
            <td><%= name %></td>
            <td class="multiple" data-kind="era" data-id="<%= era %>"><div class="loader"></div></td>
            <td class="multiple" data-kind="kinds" data-id="<%= kind %>"><div class="loader"></div></td>
            <td><%= danger %></td>
            <td><%= price %><b>$</b></td>
            <td><a href="#"><span class="btn btn-block btn-sm">КУПИТЬ</span></a></td>
        </tr>
</script>