body {
    background-color: rgb(0,0,0);
}

.promo-pic {
    height: 600px;
    background-size: cover;
    padding-left: -5%;
    padding-right: -5%;
}

.promo-last-pic {
    height: 700px;!important;
}

.promo-main {
    background-image: url(../img/promo_main.jpg);
}

.promo-second {
    background-image: url(../img/promo_second.jpg);
}

.promo-third {
    background-image: url(../img/promo_third.jpg);
}

.promo-last {
    background-image: url(../img/promo_last.jpg);
}

.promo-font {
    background: rgba(0,0,0,0.5);
    color:white;
    margin-top: 25%;
    padding-top: 10px;
    position: static;
    font-family:'Conv_BebasNeue Bold';
    font-size: 90px;!important;
}

.promo-infoblock {
    height: 370px; !important;
    display:flex;
    justify-content:center;
    align-items:center;
}

.promo-infoblock h3 {
    color:white;
    margin-top: -5px;!important;    
    font-family:'Conv_BebasNeue Bold';
    font-size: 50px;!important ;   
}

.promo-infoblock p {
    color:white;
    font-family:'Conv_BebasNeue Thin';
    font-size: 30px;!important ;   
}

.promo-infoblock-textbox {
    height: 330px;
    margin-top: 20px;
    background: rgba(0,0,0,0);
}

.promo-infoblock-news {
    background: rgba(0,0,0,0.2);
}

.promo-infoblock-news h4 {
    color:#67B0D1;
    margin-top: -5px;!important;  
    font-family:'Conv_BebasNeue Regular';
    font-size: 24px;!important;
}

.promo-infoblock-news p {
    color:white;
    font-family:'Conv_BebasNeue Book';
    font-size: 20px;!important ;   
}

.promo-infoblock-img{
    margin-top: 20px;!important;
}

.promo-last-btn {
    background-color: black;!important ;
    font-family:'Conv_BebasNeue Book';!important ;
    font-size: 35px;!important ;   
}

.footer {
    background-color: black;
    height: 50px;
    color: white;
    font-family:'Conv_BebasNeue Light';
    font-size: 20px;
}

.menu-panel {
    background: rgba(0,0,0,0.7);    
}

.menu-panel a {
    color:white;!important;
    font-family:'Conv_BebasNeue Bold';
    font-size: 22px;!important;
}

.nav>li>a:hover {
    background: #5bc0de;!important;
}

.nav>li>a:focus {
    background: #5bc0de;!important;
}

.modal-panel {
    background: white;
    border-radius: 5px;
    color: black;
    font-family: 'Micra';
    font-size: 14px;
}

.modal-panel h2{
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(91, 192, 222, 0.8);
    color: white; !important;
    height: 80px;
    margin-top: -5px; !important;
    margin-bottom: -20px; !important;
    font-family:'Conv_BebasNeue Bold';
    font-size: 32px;!important;
}

.modal-panel .btn{
    font-family:'Conv_BebasNeue Bold';
    font-size: 32px;!important;
}

.profile-panel {
    background-image: url(../img/profile.gif);
    background-size: cover;
    height: 400px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-panel img {
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
}

.profile-panel .profile-name {
    background: rgba(0,0,0,0.5);
    color: white;
    font-family:'Conv_BebasNeue Bold';
    font-size: 32px;!important;
}

.profile-block {
    background: rgba(255,255,255,0.95);
    color: black;
    font-family:'Conv_BebasNeue Book';
    font-size: 23px;
}

.profile-block .panel-title{
    background: #6B8E23;
    color: whitesmoke;!important;
    font-family:'Conv_BebasNeue Bold';!important;
    font-size: 32px;!important;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: -10px;
}

.profile-block .form-group {
    border-radius: 5px;
    font-family:'Conv_BebasNeue Book';!important;
    font-size: 20px;!important;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-block .form-group>.view-tour {
    margin-top: -15px;
}

.profile-block>.panel-body>.form-group:hover {
    background: rgba(154, 205, 50,0.4);!important
}

.profile-block .btn {
    background: #6B8E23;!important
    
    font-family:'Conv_BebasNeue Bold';
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.profile-block .btn:link {
    color: white;
}

.profile-block .btn:visited {
    color: white;
}

.editSettings {
    color: black;
}

.editSettings>a {
    color: black;
}

.editSettings:hover {
    background: rgba(154, 205, 50,0.4);!important
    color:white;
}

.profile-block .form-group  {
    border-radius: 5px;
    font-family:'Conv_BebasNeue Book';!important;
    font-size: 20px;!important;
    display:flex;
    justify-content:center;
    align-items:center;
}

.delete-message>span {
    color: #d3d3d3;
    width:  50px;
    height: 50px;
    margin-bottom: -20px;!important;
}

/*!!!!!!!!!!!!!!!!---Вот здесь и начинается вся химия---!!!!!!!!!!!!!!!!*/
#peoples > div.chat-heading > div.chat-body{
    max-height: 220px;
    overflow-y: auto;
    border-top: 1px solid #1c0442;
    border-bottom: 1px solid #1c0442;
}

#peoples{
    width: 14%;
    margin-left: 86%;
    border: 1px solid #1c0442;
    background-color: #fff;
}

/*Подвал*/
#peoples > div.static-block{
    background-color: rgba(91, 192, 222, 1);
}

/*Шапка*/
#chat .header .panel-heading {
    background-color: rgba(91, 192, 222, 1);
}


/*---------------диалог----------------*/

/*Шапка*/
#chat .chat.panel .panel-heading {
    background-color: #5bc0de;
    font-family: 'Micra';
    font-size: 12px;
}

#chat .panel-title {
    font-size: 12px;
    font-weight: bold;
}

#chat .chat.panel:nth-child(1) {
    margin-left: 64%;
    width: 20%;
    border: 2px solid #245c8b;
    font-family: 'DejaVu Sans Condensed';
    font-size: 12px;
    font-width: normal;
}

#chat .chat.panel:nth-child(2) {
    margin-left: 42%;
    width: 20%;
    border: 2px solid #245c8b;
    font-family: 'DejaVu Sans Condensed';
    font-size: 12px;
}

#chat .chat.panel:nth-child(3) {
    margin-left: 20%;
    width: 20%;
    border: 2px solid #245c8b;
    font-family: 'DejaVu Sans Condensed';
    font-size: 12px;
}

#chat .chat.panel .panel-body {
    border-right: 0px solid #245c8b;
    border-left: 0px solid #245c8b;
    border-top: none;
}

#chat .chat.panel .panel-footer {
    padding: 0px;
    background-color: #5bc0de;
    font-size: 9px;
    font-family: 'Micra';
}
/*-------------------------------------*/

/*Текст Список консультантов*/
#peoples > div.static-block > div.col-md-10.text-center{
    width: 83%;
    height: 83%;
    font-family: 'Conv_BebasNeue Bold';
    font-size: 100%;
    color: #ffffff;
    line-height:120%;
    text-align: left;
    padding: 4%;
}

/*треугольник (фон)*/
#peoples > div.static-block > div.col-md-2.icon{
    width: 5%;
    height: 5%;
    padding-left: 1%;
    color: #fff;
    padding-top: 6px;

}
#peoples > div.static-block > div.col-md-2.icon > span.glyphicon.glyphicon-triangle-top{
    width: 30%;
}

/*поисковик*/
#chat .panel-heading input {
    width: 84%;
    margin-left: 6px;
    border-radius: 6px;
    padding: 12px;
    height: 22px;
    border: 1px inset #1c0442;
    font-family: 'Micra';
    font-size: 8px;
}

#chat .panel-heading input:focus {
    outline: none;
}

/*лупа*/
#peoples > div.chat-heading > div.panel.panel-default.header > div > span{
    color: #122138;
}

/********** chat people **********/

#chat .people {
    height: 40px;
    background-color: #fff;
    font-family: 'Micra';
    font-weight: bold;
    font-size: 9px;;
    cursor: pointer;
}

#chat .people:hover {
    background-color: #ade4ff;
}

#chat .chat-ava {
    width: 22%;
    min-width: 20%;
    min-height: 100%;
    float: left;
    padding: 1%;
}

#chat .chat-name {
    width: 100%;
    height: 100%;
    padding: 8% 0 5% 26%;
}

#chat .chat-ava img {
    width: 99%;
    height: 99%;
    border-radius: 50%;
}

/* исходящие */
#chat .message-from {
    border: 1px solid #88b2c1;
    background-color: #addfee;
    width: 80%;
    margin-left: 20%;
}
/* входящие */
#chat .message-to {
    border: 1px solid #8c9194;
    background-color: #eef8fb;
    width: 80%;
}
/*текст сообщений*/
#chat .message {
    color: black;
}

/*Крестики*/
#modal-window button.cancel-icon {
    width: 6%;
    height: 43px;
    padding-top: 1%;
    margin-right: 10px;
    margin-left: 15px;
}

/*Крестики*/
#modal-window button.cancel-icon:active,
#modal-window button.cancel-icon:focus {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

/*Размер*/
.modal-panel .btn{
    font-size: 26px;
}
/*Ненужная обводка*/
.btn {
    border: 0px;
}
.btn-default:hover {
    background-color: white;
    border-color: white;
}

/*Таблицы*/
/*Таблица Эры*/
#DataTables_Table_0_paginate > span > a{
    padding: 0% 4%;
}
#DataTables_Table_0_paginate{
    max-height: 5%;
    width: 60%;
}
/*Таблица Виды животных*/
#DataTables_Table_1_paginate > span > a{
    padding: 0% 4%;
}
#DataTables_Table_1_paginate{
    max-height: 5%;
    width: 60%;
}
/*Таблица История туров*/
#DataTables_Table_2_paginate > span > a{
    padding: 0% 4%;
}
#DataTables_Table_2_paginate{
    max-height: 5%;
    width: 60%;
}

/*кнопка НАЗАД*/
#modal-window a.tour-back{
    background-color: #449d44;
    width: 30%;
    color: white;
}


/*Кнопка Оплатить*/
#modal-window div.col-md-4.text-center{
    float: right;
}

/*Поле Сумма в разделе Оплата тура*/
#modal-window > div > div > div > form > div.col-md-12 > div:nth-child(5) > div:nth-child(2) > div > input{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 95%;
    font-size: 18px;
}


/*Кнопка в таблице*/
.btn-group-sm>.btn, .btn-sm {
    padding: 1px;
    width: 100%;
    color: white;
}
.btn.focus, .btn:focus, .btn:hover {
    color: black;
}
a:focus, a:hover {
    color: black;
}
/*столбец название*/
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 16px;
}
.profile-block .span.btn{
    width: 100%;
}


#tourSave{
    width: 100%;
}


/*Создание тура*/
#modal-window div.col-md-7.tour-create-image{
    height: 425px;
    margin-bottom: 10px;
}
#modal-window div.col-md-7.tour-create-image > img{
    max-height: 90%;
}
#modal-window > div > div > div > div.row.form-group{
    margin-bottom: 0px;
    margin-top: 15px;
    height: 40px;
}
#modal-window div.col-md-9.col-xs-9.form-group > h4{
    margin-left: 15px;
    font-size: 26px;
    font-family: 'Micra';
    font-weight: bold;
}

#modal-window div.col-md-2.form-group{
    width: 50%;
}

#tour_modal_form_id label > span{
    font-size: 13px;
    font-family: 'Micra';
    font-weight: normal;
}
.form-control{
    font-size: 12px;
    font-family: 'Micra';
    padding: 6px 10px;
}


/*Редактирование перс инфы 1_2*/
#modal-window div.col-md-9.col-xs-9.text-center > h4{
    font-size: 26px;
    margin-left: 140px;
    font-family: 'Conv_BebasNeue Bold';
    padding-left: 55px;
}

/*Кнопка профиля*/
#top-menu ul > li.menu-profile:hover {
    background: #5bc0de;
}

#top-menu ul > li.menu-profile a:active+a {
    background: #5bc0de;
}

#top-menu ul > li.menu-profile.open {
    width: 223px;
}
#top-menu ul > li.menu-profile{
    width: 223px;
}

/*Выпадающий список профиля*/
#top-menu ul > li.menu-profile.open > ul > li {
    cursor: pointer;
}


/*H and X*/
#modal-window div.col-md-2.col-xs-2.text-right{
    margin-left: 55px;
}
#modal-window .row.h3{
    padding-left: 10px;
}
h3{
     margin-top: 5px;
 }
form.row{
    padding: 0 15px 0 15px;
}


/*fon*/
#modal-window .dashboard {
    background: rgba(0, 0, 0, 0.4);
    margin: 19px 0 0 7px;
    width: 90%;
    position: absolute;
    z-index: 200;
}

#modal-window .dashboard:first-child {
    border-radius: 15px 0 0 0;
}

#modal-window .dashboard:last-child {
    border-radius: 0 0 0 15px;
    bottom: 20px;
}

#modal-window .dashboard > p{
    z-index: 250;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 13px;
    font-family: 'Micra';
    font-weight: normal;
}

/*Замена шрифта и корректировка окон под него*/
#tour_modal_form_id label{
    font-size: 20px;
    font-family: 'Micra';
}

#tour_modal_form_id .col-md-8{
    width: 93%;
}

#tour_modal_form_id > div.row.form-group{
    margin-bottom: 10px;
}

#tour-create > div.row.form-group{
    margin-bottom: 0px;
}

/*Таблица магазин туров у консультанта*/
/*Кнопка создать*/
#general-page > div > div > div.panel-heading > div > a{
    width: 15%;
    background: white;
    color: black;
    margin-right: 10px;
    padding: 0px;
}
#general-page > div > div > div.panel-heading > div > a:hover{
    color: silver;
}

/*Заголовок*/
#general-page > div > div > div.panel-heading > div > div > h5{
    font-size: 32px;
}
/*Записи и поиск*/
#DataTables_Table_2_length > label{
    font-size: 22px !important;
}
#DataTables_Table_2_filter > label{
    font-size: 22px !important;
}

/*кнопки внизу таблицы*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 4px 1px;
}
.dataTables_wrapper .dataTables_info {
    padding-top: 10px;
}


/*Оповещания*/
/*Работа со шрифтом*/
#tour-view div.col-md-9.col-xs-9 > h3{
    font-size: 22px;
    font-weight: bold;
}
#tour-view .col-md-12 > label{
    font-size: 17px;
}
#tour-view .col-md-6 > label{
    font-size: 19px;
}

/*Отступы*/
#tour-view > div.col-md-12.text-center > div.row{
    margin-bottom: 15px;
}
#tour-view > div.row{
    margin-bottom: 15px;
}
#tour-view > div.row.form-group > div.col-md-4 > div.row{
    margin-bottom: 15px;
}
#tour-view > div.row.form-group > div.col-md-5 > div.row{
    margin-bottom: 15px;
}
#tour-view > div.row.form-group > div.col-md-7 > div.row{
    margin-bottom: 15px;
}
.padding-top-45 {
    padding-top: 25px;
}
.col-md-offset-3 {
    margin-left: 33%;
}
.col-md-offset-1{
    margin-left: 14%;
}
.input-group:not(.date) .form-control{
    width: 95%;
}
.input-group:not(.date) .form-control:first-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 6px;
}
label.col-md-4{
    margin-top: 12px;
}
button.changeEmail{
    margin-top: 10px;
}
button.changePassword{
    margin-top: 10px;
}
.form-group {
    margin-bottom: 5px;
}
button#pay{
    margin-top: 8px;
}
button#pay-back{
    margin-top: 8px;
}

/*Регистрация*/
.allowed {
    font-size: 9px;
}


/* Ошибки */
div.has-error small {
    font-size: 9px;
}
.error-message {
    font-size: 12px;
}


.st_s {
    font-size: 14px;
}

.setting-pi span {
    font-size: 10.5px;
}

/*Stars*/
.input-group-addon:last-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.stars{
    color: red;
    margin-left: 6px;
    font-size: 23px!important;
}
.stars_text{
    color: red;
    font-size: 9px;
}

/*Отзывы*/
.otz{
    font-size: 30px!important;
}
.carousel{
    margin-top: 5px;
}

.carousel-caption{
    height: 90px;
}
#review-slider .item {
    height: 100px;
}
